<header
  class="header text-white"
  style="background-image: url(../assets/img/about-picture.png); background-position:bottom;"
  data-overlay-light="2"
>
  <div class="container text-center">
    <div class="row">
      <div data-aos="fade-up" class="col-md-8 mx-auto">
        <h1 style="color: #484848">Process</h1>
        <p style="color: #484848" class="lead-2 opacity-90 mt-6">
          How we work on your business at Digitarc LLC.
        </p>
      </div>
    </div>
  </div>
</header>

<section data-aos="fade-right" class="section wrapped-section p-5">
  <div class="container">
    <div class="row gap-y align-items-center py-7">
      <div class="col-md-6 text-center">
        <img
          style="border-radius: 4px;"
          class="shadow-sm"
          src="../assets/img/process-image-1.png"
          alt="..."
        />
      </div>

      <div class="col-md-5 ml-auto text-center text-md-left">
        <p class="lead-9 fw-900 lh-1 opacity-10">01</p>
        <h3>Write your requirements</h3>
        <p>
          State your business' requirements for digitalization. At Digitarc
          LLC., we consider every single detail to fulfill the requirements of
          the software on our behalf. After carefully inspecting the
          requirements, it gets possible to contemplate how the proceeding
          process will be.
        </p>
      </div>
    </div>

    <div class="row gap-y align-items-center py-7">
      <div class="col-md-5 mr-auto text-center text-md-left">
        <p class="lead-9 fw-900 lh-1 opacity-10">02</p>
        <h3>Sign the contract</h3>
        <p>
          After signing the contact for both software development and software
          counselling, we give high priority importance to every single one of
          our clients. We report mostly on daily basis to serve our clients with
          the best of us. The prolonging process of the development can be
          inspected on every single aspect.
        </p>
      </div>

      <div class="col-md-6 text-center order-first order-md-last">
        <img
          style="border-radius: 4px;"
          class="shadow-sm"
          src="../assets/img/process-image-2.png"
          alt="..."
        />
      </div>
    </div>

    <div class="row gap-y align-items-center py-7">
      <div class="col-md-6 text-center">
        <img
          style="border-radius: 4px;"
          class="shadow-sm"
          src="../assets/img/process-image-3.png"
          alt="..."
        />
      </div>

      <div class="col-md-5 ml-auto text-center text-md-left">
        <p class="lead-9 fw-900 lh-1 opacity-10">03</p>
        <h3>Start developing</h3>
        <p>
          The software development process is illustrated on every angle to the
          client whenever they want to see. Every aspect of the process can
          easily be examined by the client and any feedback is accepted on our
          behalf.
        </p>
      </div>
    </div>

    <div class="row gap-y align-items-center py-7">
      <div class="col-md-5 text-center text-md-left">
        <p class="lead-9 fw-900 lh-1 opacity-10">04</p>
        <h3>Customer support begins</h3>
        <p>
          After the acceptance of the software by the client, we serve the
          maintenance for both the continuity of your software and keeping all
          the innovations in tech industry to keep your software up to date.
        </p>
      </div>

      <div class="col-md-6 ml-auto text-center order-first order-md-last">
        <img
          style="border-radius: 4px;"
          class="shadow-sm"
          src="../assets/img/process-image-4.png"
          alt="..."
        />
      </div>
    </div>
  </div>
</section>
