<!-- Header -->
<header
  class="header h-fullscreen"
  style="background-image: url(../assets/img/bg/2.jpg)"
>
  <div
    class="overlay opacity-95"
    style="background-image: linear-gradient(135deg, #fff 0%, #fff 40%, transparent 100%);"
  ></div>
  <div data-aos="fade-up" class="container">
    <div class="row align-items-center h-100">
      <div class="col-md-8 col-lg-6">
        <h1 class="display-4"><strong>Digitalize Your Business</strong></h1>
        <p class="lead-2 mt-5 mb-8">
          Digital Architects LLC. Is an IT solutions company leveraging latest
          technologies and experience to serve better IT support for better
          business outcomes.
        </p>
        <p class="gap-xy">
          <a class="btn btn-xl btn-round btn-primary mw-200" routerLink="about"
            >More Info</a
          >
          <a
            class="btn btn-xl btn-round btn-outline-primary mw-200"
            routerLink="contact"
            >Contact Us</a
          >
        </p>
      </div>
    </div>
  </div>
</header>
<!-- /.header -->

<!-- Main Content -->
<main class="main-content">
  <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Products
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
  <section data-aos="fade-up" class="section bg-gray">
    <div class="container">
      <header data-aos="fade-up" class="section-header">
        <small>Services</small>
        <h2>Working together is better</h2>
        <hr />
        <p class="lead">
          As Digitarc LLC., our products provides businesses with being more
          reliable, flexible, and scalable on both digital and physical world.
          They help businesses to communicate through handling massive amounts
          of data to serve clients them on beautiful UIs.
        </p>
      </header>

      <div data-aos="fade-right" class="row gap-y">
        <div class="col-6 col-md-4 col-xl-2">
          <a
            class="card card-body border hover-shadow-6 text-center py-6"
            href="#"
          >
            <p style="color: #78a300">
              <img
                src="../assets/img/vector/info-new.svg"
                style="height: 50px"
                alt=""
              />
            </p>
            <h6 class="mb-0"><strong>Counselling</strong></h6>
          </a>
        </div>

        <div class="col-6 col-md-4 col-xl-2">
          <a
            class="card card-body border hover-shadow-6 text-center py-6"
            href="#"
          >
            <p style="color: #2faabc">
              <img
                src="../assets/img/vector/project-diagram-new.svg"
                style="height: 50px"
                alt=""
              />
            </p>
            <h6 class="mb-0"><strong>Architecture</strong></h6>
          </a>
        </div>

        <div class="col-6 col-md-4 col-xl-2">
          <a
            class="card card-body border hover-shadow-6 text-center py-6"
            href="#"
          >
            <p style="color: #f69a3e">
              <img
                src="../assets/img/vector/terminal-new.svg"
                style="height: 50px"
                alt=""
              />
            </p>
            <h6 class="mb-0"><strong>Development</strong></h6>
          </a>
        </div>

        <div class="col-6 col-md-4 col-xl-2">
          <a
            class="card card-body border hover-shadow-6 text-center py-6"
            href="#"
          >
            <p style="color: #f0c93e">
              <img
                src="../assets/img/vector/tachometer-fastest-new.svg"
                style="height: 50px"
                alt=""
              />
            </p>
            <h6 class="mb-0"><strong>Optimization</strong></h6>
          </a>
        </div>

        <div class="col-6 col-md-4 col-xl-2">
          <a
            class="card card-body border hover-shadow-6 text-center py-6"
            href="#"
          >
            <p style="color: #37b8af">
              <img
                src="../assets/img/vector/infinity-new.svg"
                style="height: 50px"
                alt=""
              />
            </p>
            <h6 class="mb-0"><strong>Workflow</strong></h6>
          </a>
        </div>

        <div class="col-6 col-md-4 col-xl-2">
          <a
            class="card card-body border hover-shadow-6 text-center py-6"
            href="#"
          >
            <p style="color: #eb4a62">
              <img
                src="../assets/img/vector/map-signs-new.svg"
                style="height: 50px"
                alt=""
              />
            </p>
            <h6 class="mb-0"><strong>Guiding</strong></h6>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section data-aos="fade-up" class="section pb-5">
    <div class="container">
      <header class="section-header">
        <h2>What We Do</h2>
        <hr />
        <p class="lead">
          We strive hard to get best software to provide our clients with the
          possibly best experience with their work on digital platforms by
          meeting tons of data with beautiful UIs.
        </p>
      </header>

      <div class="row gap-y">
        <div data-aos="fade-up" class="col-md-6">
          <a class="card p-5 shadow-3 hover-shadow-6 text-default" href="#">
            <p><i class="fal fa-cubes lead-7 text-warning"></i></p>
            <h5 class="fw-500 my-4">Cloud Development and Migration</h5>
            <p class="">
              Companies of every industry are utilizing the modern cloud
              infrastructure for so many use cases, such as backing up data,
              disk recovery, email infrastructure, software development on
              server and so on.
            </p>
            <p>
              The cloud provides you with easy access to a wide range of
              technology stack so that you can make your innovation faster and
              construct almost anything as long as you can contemplate.
            </p>
          </a>
        </div>

        <div data-aos="fade-up" class="col-md-6">
          <a
            class="card p-5 shadow-3 hover-shadow-6 text-default"
            routerLink="contact"
          >
            <p><i class="fal fa-brackets-curly lead-7 text-primary"></i></p>
            <h5 class="fw-500 my-4">Backend Software Development</h5>
            <p>
              As Digitarc LLC., we serve our clients fast, reliable and scalable
              backend systems backed with modern software architectures to make
              sure massive amounts of the client's data is both stored and
              served appropriately.
            </p>
            <p>
              To handle all these operations, our systems mostly derives from
              ASP.NET, .NET Core, Node.js technologies on backend. For more
              information you can contact us or hire us for more.
            </p>
          </a>
        </div>

        <div data-aos="fade-up" class="col-md-6">
          <a class="card p-5 shadow-3 hover-shadow-6 text-default" href="#">
            <p><i class="fal fa-window lead-7 text-info"></i></p>
            <h5 class="fw-500 my-4">Mobile and Web UI/UX Design</h5>
            <p>
              Digitarc LLC. serves the vast amounts of data of the clients with
              beautiful and easy-to-use UIs to make sure that every type of
              client conveniently grasps the idea behind all the platform. To
              make sure this easiness, we produce pretty UIs for our clients.
            </p>
            <p>
              To design UIs with proper UX systems, we mostly use Adobe
              softwares such as Adobe XD, Adobe Photoshop, Adobe Illustrator,
              Adobe After Effects etc.
            </p>
          </a>
        </div>

        <div data-aos="fade-up" class="col-md-6">
          <a class="card p-5 shadow-3 hover-shadow-6 text-default" href="#">
            <p><i class="fal fa-phone-laptop lead-7 text-danger"></i></p>
            <h5 class="fw-500 my-4">Frontend Software Development</h5>
            <p>
              Besides designing UI/UX and developing modern backend
              technologies, we produce convenient frontend both mobile and web
              clients with latest technologies to serve our systems on
              appropriate platforms to make our clients' life easier.
            </p>
            <p>
              Mostly; React.js, React Native, Angular8+, Vue.js, Stencil.js are
              utilized to fulfill the frontend requirements of our applications.
              (For example, Angular is used to create this website)
            </p>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section data-aos="fade-up" class="section py-6">
    <div class="container">
      <div class="partner partner-sm">
        <img src="../assets/img/partner/thyssenlogo.png" alt="partner 1" />
        <img src="../assets/img/partner/siemenslogo.png" alt="partner 2" />
        <img src="../assets/img/partner/mercedeslogo.png" alt="partner 3" />
        <img src="../assets/img/partner/saplogo.png" alt="partner 4" />
        <img src="../assets/img/partner/tsystemslogo.png" alt="partner 5" />
        <img src="../assets/img/partner/tsystemslogo.png" alt="partner 5" />
      </div>
    </div>
  </section>
</main>
