<header
  data-overlay-light="2"
  class="header"
  style="background-image: url(../assets/img/about-picture.png); background-position: top;"
>
  <div data-aos="fade-up" class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="fw-200 mb-6">About Us</h1>
        <p class="lead-2">
          The place where detailed business plans intersect with concrete
          digital outcomes.
        </p>

        <hr class="w-50px ml-0" />

        <a class="text-muted" routerLink="/"
          >Explore our open source portfolio</a
        >
      </div>
    </div>
  </div>
</header>

<section data-aos="fade-left" class="section">
  <div class="container">
    <div class="row gap-y align-items-center">
      <div class="col-lg-5 mr-auto">
        <h2>Focused on Business' Needs</h2>
        <br />
        <p class="lead-2">
          Accurately designed digital solutions for the businesses' needs.
        </p>
        <p>
          On every angle of digitalization, Digitarc LLC. helps you to innovate
          without bondings through utilizing modern software architectures.
          Friendly user interfaces, handling vast amount of data with advanced
          backend software architectures is our job for you to stay focused on
          what you do best without stumbling.
        </p>
      </div>

      <div class="col-lg-6">
        <div class="gallery gallery-4-type4">
          <a class="gallery-item" href="#">
            <img
              style="height: 325px; border-radius: 4px;"
              src="../assets/img/about-design-photo-1.png"
              alt="..."
              data-provide="lightbox"
            />
          </a>
          <div class="gallery-item-group">
            <a class="gallery-item" href="#">
              <img
                style="height: 104px; border-radius: 4px;"
                src="../assets/img/about-design-photo-2.png"
                alt="..."
                data-provide="lightbox"
              />
            </a>
            <a class="gallery-item" href="#">
              <img
                style="height: 104px; border-radius: 4px;"
                src="../assets/img/about-design-photo-3.png"
                alt="..."
                data-provide="lightbox"
              />
            </a>
            <a class="gallery-item" href="#">
              <img
                style="height: 104px; border-radius: 4px;"
                src="../assets/img/about-design-photo-4.png"
                alt="..."
                data-provide="lightbox"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div data-aos="fade-up" class="p-5">
  <section style="box-shadow: 0 0 15px rgba(0,0,0,0.05)" class="section">
    <div class="container">
      <div class="row gap-y">
        <div class="col-md-3 mr-md-auto">
          <p class="lead-4 text-right">
            Passionate about constructing best digital outcomes.
          </p>
        </div>

        <div class="col-md-4">
          <h6>Our Mission</h6>
          <p>
            To catch up new innovations on information technology field to serve
            our clients with best possible software to make the world a better
            digitalized place.
          </p>
        </div>

        <div class="col-md-4">
          <h6>Our Vision</h6>
          <p>
            Always focusing on what is new and beneficial for our clients to
            handle their business needs on digital platforms by providing them
            with newest innovative software.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

<section data-aos="fade-up" class="section pt-3 pb-0">
  <div class="container">
    <header class="section-header">
      <small>Services</small>
      <h2>Our Services</h2>
      <hr />
      <p class="lead">
        Join thousands of satisfied clients using our softwares globally.
      </p>
    </header>

    <div class="row">
      <div class="col-md-8 col-xl-6 ml-lg-auto">
        <h6 class="bt-2 border-secondary py-5">
          <a href="#">
            <i class="fal fa-brackets fa-lg text-primary pr-4"></i> Backend
            Architecture Design</a
          >
        </h6>
        <p>
          As Digitarc LLC., we serve our clients fast, reliable and scalable
          backend systems backed with modern software architectures to make sure
          massive amounts of the client's data is both stored and served
          appropriately.
        </p>
        <p>
          To handle all these operations, our systems mostly derives from
          ASP.NET, .NET Core, Node.js technologies on backend. For more
          information you can contact us or hire us for more.
        </p>
        <br /><br />
      </div>

      <div class="col-md-8 col-xl-6 mr-lg-auto">
        <h6 class="bt-2 border-info py-5">
          <a href="#">
            <i
              style="color: #926dde;"
              class="fal fa-phone-laptop fa-lg pr-4"
            ></i>
            Frontend Web/Mobile App Development</a
          >
        </h6>
        <p>
          Besides designing UI/UX and developing modern backend technologies, we
          produce convenient frontend both mobile and web clients with latest
          technologies to serve our systems on appropriate platforms to make our
          clients' life easier.
        </p>
        <p>
          Mostly; React.js, React Native, Angular8+, Vue.js, Stencil.js are
          utilized to fulfill the frontend requirements of our applications.
          (For example, Angular is used to create this website)
        </p>
        <br /><br />
      </div>

      <div class="w-100"></div>

      <div class="col-md-8 col-xl-6 ml-lg-auto">
        <h6 class="bt-2 border-secondary py-5">
          <a href="#">
            <i
              style="color: #FF5A5F;"
              class="fal fa-phone-laptop fa-lg pr-4"
            ></i>
            UI/UX Design</a
          >
        </h6>
        <p>
          Digitarc LLC. serves the vast amounts of data of the clients with
          beautiful and easy-to-use UIs to make sure that every type of client
          conveniently grasps the idea behind all the platform. To make sure
          this easiness, we produce pretty UIs for our clients.
        </p>
        <p>
          To design UIs with proper UX systems, we mostly use Adobe softwares
          such as Adobe XD, Adobe Photoshop, Adobe Illustrator, Adobe After
          Effects etc.
        </p>
        <br /><br />
      </div>

      <div class="col-md-8 col-xl-6 mr-lg-auto">
        <h6 class="bt-2 border-secondary py-5">
          <a href="#">
            <i
              style="color: #00A699;"
              class="fal fa-phone-laptop fa-lg pr-4"
            ></i>
            Cloud Development and Migration</a
          >
        </h6>
        <p class="">
          Companies of every industry are utilizing the modern cloud
          infrastructure for so many use cases, such as backing up data, disk
          recovery, email infrastructure, software development on server and so
          on.
        </p>
        <p>
          The cloud provides you with easy access to a wide range of technology
          stack so that you can make your innovation faster and construct almost
          anything as long as you can contemplate.
        </p>
        <br /><br />
      </div>
    </div>
  </div>
</section>

<section
  data-aos="fade-up"
  class="section py-7"
  style="background-color: #8ea6e6; box-shadow: 0 0 15px rgba(142,166,130,0.6)"
>
  <div class="container">
    <div class="row gap-y align-items-center">
      <div class="col-md-9">
        <h4 class="mb-0 text-white text-center text-md-left">
          Do you want to work with us?
        </h4>
      </div>

      <div class="col-md-3 text-center text-md-right">
        <a
          style="background-color: white; box-shadow: 0 0 15px rgba(255, 255, 255, 0.2)"
          class="btn btn-lg btn-round"
          routerLink="/career"
          >See Opportunities</a
        >
      </div>
    </div>
  </div>
</section>
