<header
  data-overlay-light="2"
  class="header"
  style="background-image: url(../assets/img/about-picture.png); background-position: top;"
>
  <div data-aos="fade-up" class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="fw-200 mb-6">About Us</h1>
        <p class="lead-2">
          Create an introductory content before your content starts. We have
          dozen of them.
        </p>

        <hr class="w-50px ml-0" />

        <a class="text-muted" href="index.html"
          >Explore our open source portfolio</a
        >
      </div>
    </div>
  </div>
</header>

<section data-aos="fade-left" class="section">
  <div class="container">
    <div class="row gap-y align-items-center">
      <div class="col-lg-5 mr-auto">
        <h2>Lovely place to work</h2>
        <br />
        <p class="lead-2">
          Beautifully designed by best interior designers for the best web
          designers
        </p>
        <p>
          We can combine beautiful, modern designs with clean, functional. And
          best of all, we are super passionate about our work. Thought does
          cognitive into follow and rationale annoyed.
        </p>
      </div>

      <div class="col-lg-6">
        <div class="gallery gallery-4-type4">
          <a class="gallery-item" href="#">
            <img
              src="../assets/img/thumb/14.jpg"
              alt="..."
              data-provide="lightbox"
            />
          </a>
          <div class="gallery-item-group">
            <a class="gallery-item" href="#">
              <img
                src="../assets/img/thumb/13.jpg"
                alt="..."
                data-provide="lightbox"
              />
            </a>
            <a class="gallery-item" href="#">
              <img
                src="../assets/img/thumb/10.jpg"
                alt="..."
                data-provide="lightbox"
              />
            </a>
            <a class="gallery-item" href="#">
              <img
                src="../assets/img/thumb/12.jpg"
                alt="..."
                data-provide="lightbox"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div data-aos="fade-up" class="p-5">
  <section style="box-shadow: 0 0 15px rgba(0,0,0,0.05)" class="section">
    <div class="container">
      <div class="row gap-y">
        <div class="col-md-3 mr-md-auto">
          <p class="lead-4 text-right">
            Passionate about creating templates for startups
          </p>
        </div>

        <div class="col-md-4">
          <h6>Our Mission</h6>
          <p>
            Nor again is there anyone who loves or pursues or desires to obtain
            pain of itself, because it is pain, but because occasionally
            circumstances occur in which toil and pain can procure.
          </p>
        </div>

        <div class="col-md-4">
          <h6>Our Vision</h6>
          <p>
            Nor again is there anyone who loves or pursues or desires to obtain
            pain of itself, because it is pain, but because occasionally
            circumstances occur in which toil and pain can procure.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

<section data-aos="fade-up" class="section pt-3 pb-0">
  <div class="container">
    <header class="section-header">
      <small>Services</small>
      <h2>Our Services</h2>
      <hr />
      <p class="lead">
        Join thousands of satisfied customers using our template globally.
      </p>
    </header>

    <div class="row">
      <div class="col-md-8 col-xl-6 ml-lg-auto">
        <h6 class="bt-2 border-secondary py-5">
          <a href="#">
            <i class="fal fa-brackets fa-lg text-primary pr-4"></i> Backend
            Architecture Design</a
          >
        </h6>
        <p>
          Written enquire painful to offices forming it. Then so does over sent
          dull. Likewise offended humour mrs fat trifling answered. On ye
          position greatest so desirous enable performance based.
        </p>
        <br /><br />
      </div>

      <div class="col-md-8 col-xl-6 mr-lg-auto">
        <h6 class="bt-2 border-info py-5">
          <a href="#">
            <i
              style="color: #926dde;"
              class="fal fa-phone-laptop fa-lg pr-4"
            ></i>
            Frontend Web/Mobile App Development</a
          >
        </h6>
        <p>
          Written enquire painful to offices forming it. Then so does over sent
          dull. Likewise offended humour mrs fat trifling answered. On ye
          position greatest so desirous enable performance based.
        </p>
        <br /><br />
      </div>

      <div class="w-100"></div>

      <div class="col-md-8 col-xl-6 ml-lg-auto">
        <h6 class="bt-2 border-secondary py-5">
          <a href="#">
            <i
              style="color: #FF5A5F;"
              class="fal fa-phone-laptop fa-lg pr-4"
            ></i>
            UI/UX Design</a
          >
        </h6>
        <p>
          Written enquire painful to offices forming it. Then so does over sent
          dull. Likewise offended humour mrs fat trifling answered. On ye
          position greatest so desirous enable performance based.
        </p>
        <br /><br />
      </div>

      <div class="col-md-8 col-xl-6 mr-lg-auto">
        <h6 class="bt-2 border-secondary py-5">
          <a href="#">
            <i
              style="color: #00A699;"
              class="fal fa-phone-laptop fa-lg pr-4"
            ></i>
            API Development</a
          >
        </h6>
        <p>
          Written enquire painful to offices forming it. Then so does over sent
          dull. Likewise offended humour mrs fat trifling answered. On ye
          position greatest so desirous enable performance based.
        </p>
        <br /><br />
      </div>
    </div>
  </div>
</section>

<section
  data-aos="fade-up"
  class="section py-7"
  style="background-color: #8ea6e6; box-shadow: 0 0 15px rgba(142,166,130,0.6)"
>
  <div class="container">
    <div class="row gap-y align-items-center">
      <div class="col-md-9">
        <h4 class="mb-0 text-white text-center text-md-left">
          Do you want to work with us?
        </h4>
      </div>

      <div class="col-md-3 text-center text-md-right">
        <a
          style="background-color: white; box-shadow: 0 0 15px rgba(255, 255, 255, 0.2)"
          class="btn btn-lg btn-round"
          routerLink="/career"
          >See Opportunities</a
        >
      </div>
    </div>
  </div>
</section>
